#movies {
    background-color: rgb(37, 37, 37);
    padding-bottom: 2rem;

    .card {
        color: blanchedalmond;
        background-color: rgb(128, 106, 106);

        h3 {
            border-bottom: 2px solid darkred;
        }
    }
}