#movies {
    background-color: rgb(37, 37, 37);

    .card {
        color: blanchedalmond;
        background-color: rgb(119, 117, 117);

        h3 {
            border-bottom: 2px solid purple;
        }
    }
}