footer {
    padding-top: 1rem;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    border-top: 4px solid darkred;

    h5 {
        border-bottom: 1px solid darkred;
        padding-bottom: 0.5rem;
    }
}